body{
    margin: 20px;
    font-family:'Times New Roman', Times, serif;
}

.img-card{
    width: 150px;
    border: 5px solid #bfd200;
}

.card{
    display: flex;
    width: 400px;
    margin: 0 auto;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
    background-color: #353535; 
    color: #ffffff;  
    border-bottom: 6px solid #bfd200;
    border-right: 6px solid #bfd200;
}

.text{
    margin-top: auto;
    margin-bottom: auto;
    font-size: large;
    text-shadow: 1px 1px 2px black, 0 0 25px yellowgreen, 0 0 5px yellowgreen;
    cursor: pointer;
}

p{
    font-style: italic;
}
